.card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: white;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 3px 3px #072559;
	border: 3px solid #072559;
}

.imgCard {
	width: 30px;
	border: 2px solid #072559;
	border-radius: 50%;
}

.nameCard {
	font-weight: bolder;
	color: #072559;
	letter-spacing: 0.1em;
	font-size: 12px;
}

.buttonCard {
	border: none;
	background-color: red;
	padding: 3px;
	border-radius: 4px;
	color: white;
	font-weight: bolder;
	letter-spacing: 0.1em;
	cursor: pointer;
	font-size: 12px;
	box-shadow: 3px 3px #072559;
	border: 3px solid #072559;
}