.background {
	background-color: white;
}

.background-dd {
	background-color: white;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

.container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.container-filter {
	width: 100%;
	background-color: var(--background);
	padding-top: 120px;
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	max-width: 1440px;
}

.container-filter input {
	padding: 10px;
	border: none;
	border-radius: 20px;
	color: var(--deep-blue);
	outline: none;
}

.container-filter input:focus {
	border: 2px solid var(--deep-blue);
}

.container-filter input::placeholder {
	transition: color 0.3s ease;
}

.container-filter input:focus::placeholder {
	color: var(--deep-blue);
}

.container-cards {
	max-width: 1440px;
	width: 100%;
	background-color: var(--background);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	padding: 30px;
	min-height: 100vh;
}

.card {
	width: 250px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	border-radius: 20px;
	padding: 20px;
	min-height: 400px;
	max-height: 400px;
	transition: transform 0.35s ease;
}

.card:hover {
	transform: scale(1.05);
}

.card:hover .card-title, .card:hover .card-price, .card:hover .card-img {
	display: none;
}

.card:hover .card-description, .card:hover .button-cart {
	display: block;
}

.card-title {
	text-align: center;
	font-size: 15px;
}

.card-description {
	display: none;
	overflow-y: scroll;
	width: 100%;
}

.card-description::-webkit-scrollbar {
	width: 12px;
}

.card-description::-webkit-scrollbar-thumb {
	background-color: var(--deep-blue);
	border-radius: 10px;
	border: 2px solid #fff;
}

.card-description::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}

.searchbar {
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: center;
}

.button-cart {
	display: none;
	padding: 5px;
	background-color: white;
	border: 1px solid var(--black);
	transition: all 0.35s ease;
	border-radius: 10px;
	cursor: pointer;
}

.button-cart:hover {
	background-color: var(--deep-blue);
	color: white;
	border: none;
}

.card-id {
	display: none;
}