/* HAMBURGER */
.container-hamburger-menu {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	height: 50px;
	z-index: 10;
	height: 70px;
}

#language-switcher_hamburger button {
	transition: transform 0.35s ease;
}

#language-switcher_hamburger button:hover {
	transform: scale(1.1);
}

.container-logo-hamburger {
	width: 70%;
	display: flex;
	align-items: center;
}

.container-logo-hamburger button {
	background-color: transparent;
	border: none;
	margin-left: 20px;
	cursor: pointer;
}

.container-navbar .backTo {
	background-color: transparent;
	border: none;
	margin-left: 20px;
	cursor: pointer;
}

.logo-hamburger {
	color: var(--black);
	font-size: 20px;
	font-weight: bolder;
	margin-left: 20px;
	transition: color 0.35s ease;
}

.logo-hamburger:hover {
	color: var(--deep-blue);
}

.container-menu {
	width: 30%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}

.container-span {
	width: 30px;
	display: flex;
	flex-direction: column;
	background-color: transparent;
	gap: 5px;
	border: none;
	cursor: pointer;
	margin-right: 20px;
}

.container-span:hover .hamburger {
	border: 2.5px solid var(--deep-blue);
}

.hamburger {
	width: 100%;
	border: 2.5px solid var(--black);
	border-radius: 10px;
	transition: border 0.35s ease;
}

.dropdown-menu {
	display: none;
	flex-direction: column;
	gap: 5px;
	width: 100%;
	position: absolute;
	top: 0;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	padding-bottom: 30px;
	border-radius: 0px 0px 0px 10px;
	max-width: 150px;
	min-width: 100px;
}

.container-close {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.close-menu {
	margin-top: 5px;
	margin-right: 10px;
	font-size: 20px;
	margin-bottom: 10px;
	cursor: pointer;
	transition: color 0.35s ease;
}

.close-menu:hover {
	color: var(--deep-blue);
}

.option-hamburger {
	border: none;
	background-color: transparent;
	text-decoration: none;
	color: var(--black);
	transition: color 0.35s ease;
	display: flex;
	margin-left: 20px;
	cursor: pointer;
}

.option-hamburger:hover {
	color: var(--deep-blue);
}
/* HAMBURGER */

/* NAVBAR */
.container-navbar {
	width: 100%;
	display: none;
	justify-content: space-around;
	position: fixed;
	z-index: 10;
	top: 0;
	align-items: center;
}

#language-switcher_navbar button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: transform 0.35s ease;
}

#language-switcher_navbar button:hover {
	transform: scale(1.1);
}

.logo-navbar {
	font-size: 50px;
	transition: color 0.35s ease;
}

.logo-navbar:hover {
	color: var(--deep-blue);
}

.option-navbar {
	border: none;
	background-color: transparent;
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-weight: bold;
	transition: color 0.35s ease;
	cursor: pointer;
}

.option-navbar:hover {
	color: var(--deep-blue);
}

.number {
	margin-left: 5px;
	color: red;
}
/* NAVBAR */

@media only screen and (min-width: 1024px) {
	.container-hamburger-menu {
		display: none;
	}
	
	.container-navbar {
		display: flex;
	}
}