* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anta", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  min-height: 100dvh;
  background-color: rgb(31, 31, 31);
}