.navbar {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1404px;
	align-items: center;
	background-color: white;
	padding: 30px;
	border-bottom: 1px solid #7C8084;
}

.containerLinks {
	display: flex;
	align-items: center;
	gap: 30px;
}

.logo {
	margin-right: 20px;
}

.navbar a {
	text-decoration: none;
	color: #7C8084;
}

.containerAvatarCart {
	display: flex;
	align-items: center;
	gap: 40px;
}

.containerAvatarCart img {
	width: 50px;
}