@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
}

.no-scrollbar::-webkit-outer-spin-button,
.no-scrollbar::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-scrollbar {
    -moz-appearance: textfield;
}