.mainPage {
  width: 100%;
  min-height: 100dvh;
  background-color: #CADDFD;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.mainPageLogo {
  position: fixed;
  width: 200px;
  top: 0;
  left: calc(50% - 100px);
}

.containerLinks {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.navLink {
  text-decoration: none;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 3px 3px #072559;
  border: 3px solid #072559;
  transition: all 0.35s ease;
  width: 100px;
  height: 100px;
  background-color: white;
}

.link:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 40px 5px #FAC732;
}

.link span {
  font-size: 12px;
  color: #092557;
}

.imgNav {
  width: 70px;
}

.mainPageButton {
  width: 100%;
  max-width: 280px;
  padding: 5px;
  border: none;
  cursor: pointer;
  background-color: #FAC732;
  color: #092557;
  font-weight: bold;
  letter-spacing: 0.1em;
  border-radius: 6px;
  box-shadow: 3px 3px #072559;
  border: 3px solid #072559;
}

.match {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  animation: opacity 0.35s linear forwards;
  margin-bottom: 20px;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.containerSquad {
  display: flex;
  gap: 50px;
}

.squad {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 3px 3px #072559;
  border: 3px solid #072559;
}

.squadImg {
  width: 20px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.listItem span {
  color: #092557;
  font-weight: bolder;
  letter-spacing: 0.1em;
  font-size: 14px;
}

.logoTeam {
  width: 100px;
  margin: 0 auto;
}

.totalRate {
  font-weight: bolder;
  color: #092557;
  letter-spacing: 0.1em;
  font-size: 12px;
  margin: 0 auto;
  background-color: #FAC732;
  padding: 3px;
  border-radius: 4px;
  box-shadow: 3px 3px #072559;
  border: 3px solid #072559;
}

.buttonMatch {
  text-decoration: none;
  text-align: center;
  width: 100%;
  max-width: 280px;
  padding: 5px;
  background-color: #FAC732;
  color: #092557;
  font-weight: bold;
  letter-spacing: 0.1em;
  border-radius: 6px;
  box-shadow: 3px 3px #072559;
  border: 3px solid #072559;
}

.radioContainer {
  display: flex;
  gap: 50px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 3px 3px #072559;
  padding: 10px;
  border: 3px solid #072559;
}

.radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  background-color: #FAC732;
  box-shadow: 3px 3px #072559;
  border: 3px solid #072559;
  padding: 4px;
  min-width: 132px;
}

.radio label {
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 0.1em;
  color: #092557;
}

.navRules {
  text-decoration: none;
  color: #092557;
  font-weight: bolder;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #092557;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  transition: all 0.35s ease;
}

.navRules:hover {
  background-color: #092557;
  color: #FAC732;
}

.radio input {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid #072559;
	position: relative;
	cursor: pointer;
	background-color: white;
}

.radio input:checked {
	background-color: #072559;
}

.radio input:checked::before {
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.radio input:checked::after {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #072559;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}