body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	box-sizing: border-box;
}

form {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	width: 100%;
	text-align: center;
}

input[type="text"],
input[type="number"] {
	width: calc(100% - 20px);
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

button {
	width: calc(50% - 10px);
	padding: 10px;
	margin: 5px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

.button-send {
	background-color: #28a745;
	color: white;
}

.button-delete {
	background-color: #dc3545;
	color: white;
}
