.button {
	color: white;
	font-size: 20px;
	border: none;
	background-color: rgb(82, 82, 82);
	transition: all 0.35s ease;
	cursor: pointer;
	margin-left: 20px;
}

.button:hover {
	transform: scale(1.5);
}